*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
body,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.section:first-child {
  padding-top: 0px;
}

.text__transporent {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* logo text */
.logo__web, .logo__studio, .logo__studio-footer {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__link, .header__link--contakt, .header__mail, .menu-social__network {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .project__item, .portfolio-img::before, .portfolio-img__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .project__item, .portfolio-img::before, .portfolio-img__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item, .portfolio-img::before, .portfolio-img__icon {
    width: 370px;
  }
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.footer__title, .footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__slogan, .footer__email {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* text-btn-hero */
.footer__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer__button {
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  background-color: #2196f3;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__cointainer {
    display: flex;
  }
}

.header__block-mobile {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__mob--menu {
    z-index: 20;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ffffff;
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .header__mob--menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    margin-right: 300px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-block {
    display: flex;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__item {
    text-align: left;
    margin-top: 32px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__item {
    margin-right: 50px;
  }
}

.header__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__item:first-child {
    margin-top: 48px;
  }
}

.header__link {
  color: #212121;
  font-size: 40px;
  line-height: 1.175;
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__contact {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__contact {
    align-items: center;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .header__link--contakt {
    font-size: 24px;
    line-height: 1.16px;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .header__link--contakt {
    font-size: 12px;
    line-height: 1.1666;
    color: #757575;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header__link--contakt {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__link--contakt:hover, .header__link--contakt:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .header__link--contakt-tel {
    color: #2196f3;
  }
}

@media screen and (min-width: 480px) {
  .header__link--contakt-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__link--contakt-tel {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (max-width: 767px) {
  .header__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__icon {
    --icon-color: currentColor;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__mail {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__mail {
    fill: #757575;
    margin-top: 21px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mail {
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__portfolio {
    position: relative;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .header__portfolio::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header__studio {
    position: relative;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header__studio::after {
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .header__mob-menu {
    position: absolute;
    bottom: 0;
  }
}

.menu-button {
  padding: 0;
  border: 0;
  border-color: #ffffff;
  background-color: #ffffff;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.header__mob--menu.is-open {
  transform: translateX(0);
}

.menu-button--close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  border: 0;
  border-color: #ffffff;
  background-color: #ffffff;
  margin-top: 10px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .menu-button--close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logo--header {
    margin: 16px auto 16px 0px;
  }
}

@media screen and (min-width: 768px) {
  .logo--header {
    margin: 26px 88px 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo--header {
    margin: 24px 93px 25px 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-social {
    margin-top: 64px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}

.menu-social__network {
  display: flex;
  line-height: 1.2;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu-social__network {
    font-size: 18px;
  }
}

.menu-social__item {
  margin-bottom: 48px;
}

.menu-social__link {
  text-decoration: none;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 480px) {
  .menu-social__link {
    padding: 0 10px;
  }
}

@media screen and (max-width: 479px) {
  .menu-social__link {
    padding: 0 3px;
  }
}

.menu-social__link--first {
  padding-left: 0;
}

.menu-social__link--last {
  padding-right: 0;
  border-right: 0;
}

.logo {
  text-decoration: none;
}

.logo__web {
  color: #2196f3;
}

.logo__studio {
  color: #000000;
}

.selection-buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .selection-buttons {
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 60px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .selection-buttons {
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .selection-buttons {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.selection-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.selection-buttons__job {
  color: #212121;
  background-color: #f5f4fa;
  display: inline-block;
  min-width: 73px;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .selection-buttons__job {
    margin-bottom: 15px;
  }
}

.selection-buttons__job:hover, .selection-buttons__job:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__item {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover, .project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .portfolio-img::before,
.project__item:focus .portfolio-img::before {
  transform: translateY(0%);
}

.project__item:focus .portfolio-img__title,
.project__item:hover .portfolio-img__title {
  transform: translate(-50%, 0);
}

@media screen and (min-width: 768px) {
  .project__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .project__item--tab {
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item--tab {
    height: auto;
  }
}

.project__link {
  text-decoration: none;
}

.project__text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .project__text--tab {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .project__text--tab {
    height: auto;
  }
}

.project__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-img {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-img::before {
  height: 294px;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(404px);
}

.portfolio-img__icon {
  display: block;
  height: 294px;
}

.portfolio-img__title {
  position: absolute;
  display: flex;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 404px);
  width: 80%;
  margin-top: 49px;
  margin-bottom: 49px;
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .portfolio-img__title {
    width: 402px;
    margin-top: 77px;
    margin-bottom: 77px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-img__title {
    width: 306px;
    margin-top: 49px;
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img__title {
    width: 322px;
    margin-top: 63px;
    margin-bottom: 63px;
  }
}

.portfolio-container {
  padding: 0;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .footer__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__desktop {
    display: flex;
    justify-content: space-around;
  }
}

.footer__address {
  font-style: normal;
  width: 229px;
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: start;
  }
}

.footer__title {
  color: #ffffff;
  margin-top: 20px;
}

.footer__addres-blokc {
  padding-left: 0px;
}

.footer__item {
  padding-top: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:focus, .footer__link:hover {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer__social-network {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__social-network {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-network {
    text-align: start;
    margin-left: 70px;
    padding-top: 12px;
    margin-right: 93px;
  }
}

.footer__slogan {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__form {
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .footer__form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    margin-top: 0;
  }
}

.footer__email {
  width: 358px;
  height: 50px;
  margin-right: 10px;
  padding-left: 16px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__email {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__email {
    width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .footer__desktop-mail {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__desktop-mail {
    display: flex;
    text-align: start;
  }
}

.footer__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .footer__button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin-top: 47px;
  }
}

.footer__text-button {
  padding-right: 20px;
}

.footer__button-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 28px;
  width: 24px;
  height: 24px;
}

.logo__studio-footer {
  color: #ffffff;
}

.social-network {
  display: flex;
  justify-content: space-between;
}

.social-network__footer {
  display: flex;
  justify-content: center;
}

.social-network__items {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network__items:nth-child(-n + 3) {
  margin-right: 10px;
}

.social-network__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */