.header{ 
  position: relative;

    &__block-mobile {
    display: flex;
  }

&__mob--menu{
  position: absolute;
  width: 100%;
  height: 796px;
  top: 0;
  left: 0;
  text-align: center;
  

}

}

.menu-button{
    padding: 0;
    border:0;
    border-color: $color-white;
    background-color: $color-white;
    margin:10px 0;

  }




.menu-button .icon-close {
  opacity: 0;
}

.menu-button.is-open .icon-close {
  opacity: 1;
}

.menu-button.is-open .icon-menu {
  opacity: 0;
}


.logo--header{

    @media screen and (max-width:767px) {
    margin: 16px auto 16px 0px;
  }
}