.hero {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
        url(../images/hero-fon-min.jpg);
    background-color: #c4c4c4;
    background-position: center;
    background-size: cover;

    &__title {
        color: $color-white;
      
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
      }

    &__blok {
        padding-top: 200px;
        padding-bottom: 200px;
      }

    &__button {
        
        display: inline-block;
        min-width: 136px;
      
        @extend %btn;
        @extend %btn-text;
        padding: 10px 32px;
      }
  }