.positive-features {
    padding-bottom: 0px;

    &__icon {
        display: flex;
        justify-content: space-between;
      }

    &__fon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
        background-color: $primary-bg-color;
      }

    &__paragraph {
        width: 270px;
      }

    &__svg {
        width: 70px;
        height: 70px;
      }

    &__item {
        display: flex;
        justify-content: space-between;
      

        & :not(:last-child) {
        margin-right: 30px;
      }
    }

    &__title {
        @extend %second-heading;
        margin-bottom: 10px;
      }

    &__text {
        color: $primer-text-color;
      
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
      }
      
  }